// Vars
$max-width:700px;
$columns: 12;
$gap:10px; // px, %, em - anything
$half-gap:$gap / 2; // for centering
$w4: 400; // Responsive variable for changing grid widths to 100% - This can be any number
$dodgerBlue:#3399FF;